.add-task-dialog {
  opacity: 0;
}

.add-task-dialog-active {
  opacity: 1;
  transition: opacity 500ms;
}

.add-task-dialog-exit {
  opacity: 1;
}

.add-task-dialog-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}